<ion-card>

  <ion-card-header>
    <ion-card-title class="ion-text-center">
      <strong >Lista luoghi visitati</strong>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-button expand="full" color="success" (click)="addNewPosition()" >
      <ion-icon name="add" class="ion-padding-end"></ion-icon>
      Aggiungi nuovo luogo
    </ion-button>

    <ng-container *ngIf="positionsList$ | async as positionsList; else loadingPositionsList">

      <ion-button *ngIf="!isMapPage"
        expand="full" color="warning" href='/my-map'
        class="ion-margin-top">
        <ion-icon name="map" class="ion-padding-end"></ion-icon>
        Visualizza la tua mappa
      </ion-button>

      <ion-grid *ngIf="positionsList.length > 0; else noPositionsList">
        <ion-row>
          <ion-col *ngFor="let position of positionsList"
            size="12" size-md="6" size-lg="4" size-xl="3"
            class="ion-border">
            <!-- <ion-item [attr.lines]="positionsList.length <= 4 ? 'none' : null"> -->
            <ion-item>
              <ion-grid>
                <ion-row class="ion-justify-content-evenly ion-padding-vertical">
                  <ion-avatar *ngIf="position.photoUrl, else iconPin">
                    <img [src]="position.photoUrl">
                  </ion-avatar>
                  <ng-template #iconPin>
                    <ion-icon name="pin"></ion-icon>
                  </ng-template>
                  <ion-label>
                    <h2>{{position.name}}</h2>
                    <p style="font-style: italic;">Lat: {{position.coords.lat}} - Lon: {{position.coords.lon}}</p>
                    <p *ngIf="position.created" style="font-style: italic;">
                      <!-- #TODO: correggere formato date in IT (import locale in component?) -->
                      {{position.created | date :'EEE d MMMM y, h:mm' : 'it-IT' }}
                    </p>
                  </ion-label>
                </ion-row>
                <ion-row class="ion-justify-content-evenly ion-padding-bottom">
                  <ion-button color="success"
                    href="whatsapp://send?text=Ciao, voglio condividere questo luogo con te: {{position.name}}, lat. {{position.coords.lat}} - long. {{position.coords.lon}}"
                    data-action="share/whatsapp/share"
                  >
                    <ion-icon name="logo-whatsapp"></ion-icon>
                  </ion-button>
                  <ion-button color="success" (click)="updatePosition(position)">
                    <ion-icon name="build"></ion-icon>
                  </ion-button>
                  <ion-button color="danger" (click)="deletePosition(position)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ng-template #noPositionsList>
        <p class="ion-padding-top ion-text-center">Non hai ancora inserito luoghi visitati</p>
      </ng-template>

    </ng-container>

    <ng-template #loadingPositionsList>
      <ion-card class="skeleton-card" *ngFor="let i of [1, 2, 3]">
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-text-center">
              <ion-col>
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ng-template>

  </ion-card-content>
</ion-card>
