<ion-card>

  <ion-card-header>
    <ion-card-title class="ion-text-center">
      <strong >Lista luoghi visitati</strong>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-list *ngIf="positionsList.length !== 0; else noPositionsList">

      <ion-item *ngFor="let position of positionsList">
        <!-- {{positionsList | json }} -->

        <ion-avatar *ngIf="position.photoUrl, else iconPin">
          <img [src]="position.photoUrl">
        </ion-avatar>
        <ng-template #iconPin>
          <ion-icon name="pin"></ion-icon>
        </ng-template>
        <ion-label  class="ion-margin-start">
          <h2>{{position.name}}</h2>
          <p style="font-style: italic;">Lat: {{position.coords.lat}} - Lon: {{position.coords.lon}}</p>
          <p *ngIf="position.created" style="font-style: italic;">{{position.created | date :'EEE d MMMM y, h:mm':'it-IT' }}</p>
        </ion-label>

        <ion-button color="warning" (click)="updatePosition(position)">
          <ion-icon name="build"></ion-icon>
        </ion-button>

        <ion-button color="danger" (click)="deletePosition(position)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

      </ion-item>
    </ion-list>

    <ng-template #noPositionsList>
      <p>Non hai ancora inserito luoghi visitati</p>
    </ng-template>

    <ion-button expand="full" color="success" (click)="addNewPosition()" >
      <ion-icon name="add" class="ion-padding-end"></ion-icon>
      Aggiungi nuovo luogo
    </ion-button>

    <!-- <ion-button expand="full" color="warning" [routerLink]="['/my-map']" -->
    <ion-button *ngIf="!isMapPage"
      expand="full" color="warning" href='/my-map'
      class="ion-margin-top">
      <ion-icon name="map" class="ion-padding-end"></ion-icon>
      Visualizza la tua mappa
    </ion-button>

  </ion-card-content>
</ion-card>
