<ion-header>
  <ion-toolbar color="success">
    <ion-title>MyApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center">Crea un nuovo account!</h1>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>

        <!-- ricordi di importare nel module ReactiveFormsModule per usare formGroup -->
        <form [formGroup]="credentials" (ngSubmit)="register()">

          <ion-item>
            <ion-input type="text" placeholder="username" formControlName="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="email" placeholder="email" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email non valida</ion-note>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password minimo 6 caratteri</ion-note>
          </ion-item>

          <ion-item>
            <ion-input type="file" placeholder="avatar" formControlName="avatarImg"></ion-input>
          </ion-item>

          <ion-button expand="full" type="submit" [disabled]="!credentials.valid" color="success">Registrati</ion-button>

        </form>

        <div class="ion-padding-top">
          <p class="already ion-text-center">Already a user?</p>
          <ion-button [routerLink]="['/login']" expand="block" color="warning">Login</ion-button>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
