<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-float-left">
      <strong>Dashboard</strong>
    </ion-title>
    <ion-icon class="ion-float-right ion-padding-end" name="log-out" size="large" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <p class="ion-text-center">
    <ion-icon  name="bonfire" size="large" color="success"></ion-icon>
  </p>

  <p class="ion-text-center">
    <strong>Hi
      <span *ngIf="user && user.displayName">{{user.displayName}} !</span>
    </strong>
  </p>

  <ion-card class="ion-padding ion-text-center">
    <ion-card-header>
      <ion-card-title>
        <strong >Le tue info</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-row class="ion-justify-content-center">
      <ion-avatar>
        <img *ngIf="user && user.photoURL; else noImgAvatar" [src]="user.photoURL" />
        <ng-template #noImgAvatar>
          <ion-icon  name="person" size="large"></ion-icon>
        </ng-template>
      </ion-avatar>
    </ion-row>

    <ion-card-content>
      <ion-card-subtitle *ngIf="user && user.displayName">Username: {{user.displayName}}</ion-card-subtitle>
      <ion-card-subtitle>Email: {{user.email}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <strong >Lista luoghi visitati</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list *ngIf="positionsList.length !== 0; else noPositionsList">

        <ion-item *ngFor="let position of positionsList">
          <ion-icon name="pin"></ion-icon>
          <ion-label  class="ion-margin-start">
            <h2>{{position.name}}</h2>
            <p style="font-style: italic;">Lat: {{position.coords.lat}} - Lon: {{position.coords.lon}}</p>
          </ion-label>
          <ion-button slot="end" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ng-template #noPositionsList>
        <p>Non hai ancora inserito luoghi visitati</p>
      </ng-template>

      <ion-button expand="full" color="success" (click)="addNewPosition()" >
        <ion-icon name="add" class="ion-padding-end"></ion-icon>
        Aggiungi nuovo luogo
      </ion-button>

      <ion-button expand="full" color="warning" [routerLink]=""
      class="ion-margin-top">
        <ion-icon name="map" class="ion-padding-end"></ion-icon>
        Visualizza la tua mappa
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
