<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-icon class="ion-padding-start" name="log-out" (click)="logout()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <strong class="ion-padding">Hi
    <span *ngIf="user && user.displayName">{{user.displayName}}</span>
  </strong>
  <ion-card>
    <img *ngIf="user && user.imageUrl" [src]="user.imageUrl" />
    <ion-card-header>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
      <ion-card-title *ngIf="user && user.displayName">{{user.displayName}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
